.page-header
  %h1
    =@league.name
    %small
      =@league.fill_status
  .description
    =@league.description

= render 'leagues/navigation_links'

- if current_user
  = render 'leagues/ratings'

= render 'leagues/league_members'
= render 'leagues/league_matches'
