%section#about.about
  .container
    .row
      .col-lg-12.text-center
        %h2 Stylish Portfolio is the perfect theme for your next project!
        %p.lead
          This theme features some wonderful photography courtesy of
          = succeed "." do
            %a{:href => "http://join.deathtothestockphoto.com/", :target => "_blank"} Death to the Stock Photo
