%aside.call-to-action.bg-primary
  .container
    .row
      .col-lg-12.text-center
        %h3 The buttons below are impossible to resist.
        %a.btn.btn-lg.btn-light{:href => "#"} Click Me!
        %a.btn.btn-lg.btn-dark{:href => "#"} Look at Me!
