%footer
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h4
          %strong Start Bootstrap
        %p
          3481 Melrose Place
          %br>/
          Beverly Hills, CA 90210
        %ul.list-unstyled
          %li
            %i.fa.fa-phone.fa-fw
            (123) 456-7890
          %li
            %i.fa.fa-envelope-o.fa-fw
            %a{:href => "mailto:name@example.com"} name@example.com
        %br/
        %ul.list-inline
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook.fa-fw.fa-3x
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter.fa-fw.fa-3x
          %li
            %a{:href => "#"}
              %i.fa.fa-dribbble.fa-fw.fa-3x
        %hr.small/
        %p.text-muted Copyright © Your Website 2014
