%body
  %header#top.header
    .text-vertical-center
      %h1 Start Bootstrap
      %h3 Free Bootstrap Themes &amp; Templates
      %br/
      %a.btn.btn-dark.btn-lg{:href => "#about"} Find Out More
