%body
  %header
    .header-content
      .header-content-inner
        %h1 Join us and winn!
        %hr/
        %p Create leagues, play games, earn points and check rankings
        .btn.btn-default.btn-xl
          =link_to "JOIN US!",  new_user_registration_path
