<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Join us and winn!</h1>
            <hr>
            <p>Create leagues, play games, earn points and check rankings</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
