%body
  %header
    .header-content
      .header-content-inner
      -if user_signed_in?
        %h1 Ready to start?
        %hr/
        %p Click the button bellow
        .btn.btn-default.btn-xl
          =link_to "Leagues",  leagues_path
      -else
        %h1 Join us and win!
        %hr/
        %p Create leagues, play games, earn points and check rankings
        .btn.btn-default.btn-xl
          =link_to "JOIN US!",  new_user_registration_path
