%body
  %header
    .header-content
      .header-content-inner
        %h1 Join us and winn!
        %hr/
        %p Create leagues, play games, earn points and check rankings
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out More
