// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Striped table below - uncopmment to activate
tr:nth-child(even) {background-color: #f2f2f2;}
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
    padding: 8px;
}
thead {
    text-align: center;
    padding: 8px;
}
